:root {
    --body-color: #efefef;
    --bg-color: #fff;
    --nav-color: #1876f2;
    --white-color: #fff;
    --logo-color: #fff;
    --search-bg: #efefef;
    --settings-menu: #fff;
    --search-input: #000;
    --bg-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    --text-area-color: #efefef;
}
.dark-mode {
    --body-color: #0a0a0a;
    --bg-color: #000;
    --nav-color: #0a0a0a;
    --logo-color: #1876f2;
    --white-color: #ccc;
    --search-bg: #282828;
    --settings-menu: #252424;
    --search-input: #ccc;
    --bg-shadow: 0 0 10px #ccc;
    --text-area-color: #282828;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
i{
    cursor: pointer;
}
body {
    background-color: var(--body-color);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 2%;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 10px #282828;
}
i.arrow{
    font-size: 18px;
    color: #736d6d;
    padding: 8px 10px;
    border-radius: 50%;
    display: none;
    transition: background-color 0.3s;
    margin-right: 2%;
}
i.arrow:hover{
    background-color: #282828;
}
.on-hover-bg:hover {
    background-color: #282828;
}
.flex {
    display: flex;
    align-items: center;
}
.logo .logo-icon {
    color: var(--logo-color);
    margin-right: 34px;
    font-size: 2rem;
}
.logo.hide{
    display: none;
}
.logo span.text {
    color: var(--white-color);
    font-size: 13px;
    font-weight: 600px;
    display: inline-block;
    transform: scale(2,1);
    margin-right: 35px;
}
.nav-right ul li {
    display: inline-block;
    list-style: none;
}
.nav-right ul li i{
    color: white;
    font-size: 20px;
    margin: 0 15px;
}
.nav-right ul li:first-child{
    display: none;
}
.nav-right ul li:nth-child(2) {
    position: relative;
}
.nav-right ul li .fa-facebook-messenger::after {
    content:'';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f82743;
    position: absolute;
    top: -14px;
    right: -2px;
}
.nav-right ul li .messenger {
    position: absolute;
    top: -13px;
    right: 4px;
    font-size: 15px;
    color: yellow;
}
.search-box {
    background: var(--search-bg);
    border-radius: 20px;
    width: 270px;
    padding: 11px 15px;
    margin: 0 5px ;
}
.search-box input {
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: var(--search-input);
}
.search-box input.display{
    display: block;
}
.search-box .search-icon{
    width: 16px;
    margin-right: 5px;
    cursor: pointer;
}
.nav-right .nav-user-icon{
    margin-left: 10px;
}
.online{
    position: relative;
}
.online::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #f82743;
    border: 2px solid var(--bg-color);
   
}
.nav-right .nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 18px 1%;
}
.sticky {
    position: sticky;
    top: 70px;
    align-self: flex-start;
    width: 100%;  
    height: 90vh;
}
.left-sidebar{
    flex-basis: 24%;
    overflow-y: hidden;
    padding-bottom: 20px;
}
.left-sidebar:hover{
    overflow-y: auto;
}
.right-sidebar::-webkit-scrollbar,
.left-sidebar::-webkit-scrollbar {
    width: 8px;
}
.right-sidebar::-webkit-scrollbar-track,
.left-sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.right-sidebar::-webkit-scrollbar-thumb,
.left-sidebar::-webkit-scrollbar-thumb {
    background: #888;
}
.right-sidebar::-webkit-scrollbar-thumb:hover,
.left-sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.right-sidebar{
    flex-basis: 24%;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #9a9a9a;
    overflow-y: auto;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}
.container .main-content{
    margin-top: 2px;
    width: 600px;
    /* flex-basis: 50%; */
}
.imp-links-container{
    padding: 15px;
}
.imp-links a{
    padding: 8px 13px;
    border-radius: 5px;
    transition: all 0.3s;
}
.imp-links a, .shortcut-links a{
   display: flex;
   align-items: center;
   text-decoration: none; 
   margin-bottom: 15px;
   color: #9a9a9a;
   width: fit-content;
}
.imp-links a:first-child img{
    border-radius: 50%;
}
.imp-links a:last-child{
    color: #9a9a9a;
    font-size: 14px;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links hr{
    height: 1px;
    border: none;
    background-color: #9a9a9a;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 12px;
}
.event{
    font-size: 14px;
    margin-bottom: 20px;
}
.event .left-event{
    border-radius: 10px;
    width: 65px;
    height: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: var(--bg-shadow);
}
.event p{
    font-size: 12px;
}
.event a {
    font-size: 12px;
    text-decoration: none;
    color: #9a9a9a;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1876f2;
    width: 100%;
    color: #000;
    font-size: 10px;
    padding: 5px 0;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list {
    margin-bottom: 20px;
}
.online-list .online img{
    width: 35px;
    border-radius: 50%;
}
.online-list .online {
    margin-right: 15px;
}
.online-list .online::after {
    top: unset;
    bottom: 5px;
}
.story-gallery{
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    position: relative;  
    transition: transform .3s linear;
}
.story-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.story-container button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #6c6666;
    outline: none;
    color: #ccc;
    z-index: 1;
    padding: 14px 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.story-container button:hover{
    background-color: #454141;
}
.story-container .left{
    left: 1rem;
    display: none;
}
.story-container .right {
    right: 1rem;
}
.story-container button i {
    font-size: 20px;
}
.story-container .story{
    flex-basis: 25%;
    padding-top: 42%;
    padding-left: 24%;
    margin-right: 1%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}
.story img{
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 3px solid #1876f2;
}

.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
    border: unset;
    width: 35px;
    z-index: 1;
}
.story p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #efefef;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}
.story .bg-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #282828;
    width: 100%;
    height: 20%;
}
.story {
    cursor: pointer;
    transition: .3s ease-in-out;
}
.story:hover {
    transform: scale(1.0050);
}
.story1{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(images/member-2.png);
}
.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(images/status-2.png);
}
.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(images/status-3.png);
}
.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(images/status-4.png);
}
.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(images/status-5.png);
}
.story6 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(images/status-1.png);
}
.write-post-container,.post-container{
    width: 90%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 0 auto 15px;
}
.write-post-container hr {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.user-profile img{
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile textarea {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: 0;
    outline: 0;
    line-height: 40px;
    padding-left: 20px;
    color: #9a9a9a;
    resize: none;
    border-radius: 25px;
    background-color: var(--text-area-color);
}
.user-profile p{
    font-weight: 500;
    color: #9a9a9a;
}
.user-profile a{
    text-decoration: none;
    color: #9a9a9a;
}
.user-profile small{
    font-size: 12px;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.add-post-links{
    justify-content: space-evenly;
}
.add-post-links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 13px;
    font-size: 13px;
    color: #626262;
    transition: all .3s;
    border-radius: 5px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin: 5px 0;
}
.activity-icons div img{
    width: 18px;
    margin-right: 5px;
}
.activity-icons div{
    margin-right: 20px;
}
.post-row{
    justify-content: space-between;
}
.post-row a{
    color:#9a9a9a;
}
.post-profile-icon img{
    width: 24px;
    border-radius: 50%;
    margin-right: 5px;
}
.load-more-btn{
    display: block;
    margin: auto;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #9a9a9a;
    color: #626262;
    background-color: transparent;
    border-radius: 4px;
    transition: .3s;
}
.load-more-btn:hover{
    background-color: #9a9a9a;
}

.menu,.settings-menu{
    position: absolute;
    background-color: var(--settings-menu);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 4px;
    overflow: hidden;
    width: 90%;
    max-width: 350px;
    top: 105%;
    right: 2%;
    display: none;
}
.show{
    display: block;
}
.settings-container{
    padding: 20px;
}
.settings-container a{
    font-size: 12px;
}
.settings-container hr{
    background-color: #9a9a9a;
    border: 0;
    height: 1px;
    margin: 15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #9a9a9a;
}
.settings-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left .3s, background-color .3s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: inline-block;
    
}
#dark-btn.dark-theme{
    padding-left: 23px;
    background-color: #ccc;
}
#dark-btn span.dark-theme{
    background-color: red;
}
.left-sidebar .user-profile img{
    width: 30px;
}
.text-area-modal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}
.text-container {
    width: 95%;
    max-width: 520px;
    border-radius: 10px;
    background: var(--settings-menu);
    position: relative;
    padding-top: 15px;
}
.post-header h3{
    color: #9a9a9a;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}
.post-header i {
    color: #1876f2;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}
.post-header i:hover{
    color:red;
}
.user-container {
    padding: 15px;
}
.user-container p{
    font-size: 16px;
}
.user-container textarea{
    width: 100%;
    min-height: 120px;
    margin-top: 15px;
    color: #9a9a9a;
    font-size: 20px;
    border: 0;
    outline: 0;
    resize: none;
    background-color: var(--settings-menu);
}
.user-container textarea::placeholder{
    font-size: 20px;
}
.text-area-modal.display {
    display: flex;
}
.user-friends{
    cursor: pointer;
}
.user-friends i {
    font-size: 13px;
    color: #555151;
}
.user-friends span {
    font-size: 0.8rem;
    font-weight: 600;
}
.add-to-post {
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 7px 10px;
    border-radius: 5px;
}
.add-to-post p{
    font-size: 15px;
    font-weight: 600;
    color: #9a9a9a;
    margin-right: 15px;
}
.add-to-post i{
    color: #555151;
    font-size: 20px;
}
.add-to-post a {
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    border-radius: 50%;
}
.add-to-post a:hover{
    background: #ccc;
}
.add-to-post .green{
    color: green;
}
.add-to-post .blue {
    color: blue;
}
.add-to-post .orange {
    color: orange;
}
.user-container .post-btn{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: none;
    background-color: #626262;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 13px;
    color: #9a9a9a;
    cursor: pointer;
    margin-bottom: 5px;
}
.post-btn.active{
    background-color: #1876f2;
    color: #fff;
}
@media(max-width: 1000px){
    .left-sidebar{
        display: none;
    }
    .right-sidebar {
        flex-basis: 30%;
    }
}
@media(max-width: 900px){
    .right-sidebar{
        display: none;
    }
    .main-content{
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
}
@media(max-width:700px){
    .search-box {
        width: unset;
        padding: 7px 4px 7px 8px;
    }  
    .search-box input {
        display: none;
    }
    .search-box img {
        width: 14px;
    }
    .nav-right ul li:first-child {
        display: inline-block;
    }
}
.search-box.expand{
    width:250px;
}


